body {
    margin: 0
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1ff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* #firstDivider {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
} */

.projectList {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ECF3F8;
  min-height: 100vh;
}

.projectContainer{
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
}

.projectItemCard {
  position: relative;
  width: 80%;
  max-width: 900px !important;
  min-height: 400px;
  height: auto !important;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
              inset -5px -5px 15px rgba(11, 55, 117, 0.1),
              5px 5px 15px rgba(0,0,0,0.3),
              -5px -5px 15px rgba(25, 66, 124, 0.1);
  border-radius: 15px;
  /* background: #848686; */
  margin: 30px;
}

.projectItemBox {
  position: absolute;
  height: auto !important;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #F3F6FF;
  border: 2px solid #E7EEFF;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}

.projectItemBox:hover{
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.projectItem h1 {
  font-family: Arial, sans-serif;
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0,0,0,0.05);
  margin: 10px 0;
}

.projectItem {
  padding: 20px;
  height: auto !important;
}
.panel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.hideOF {
  overflow: hidden;
}


hr.rule {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.rule:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.6em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #F3F6FF;
}

.prjLink {
  text-decoration: none;
  text-transform: uppercase;
  background: #aaa;
  padding: 10px 30px;
  border-radius: 10px;
}

.prjLink:visited {
  color: black;
}

.prjLink:hover {
  cursor: pointer;
}